.item-wrapper{
    position: relative;
    padding: 8px;
    background-color: #f3a5d094;
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 16px;
    border-radius: 8px;
    color:#3b3b3b
}

.icon-cont {
    position: absolute;
    width: 20px;
    right: 10px;
}